@import "utils/colors";
@import "utils/functions";

* {
  scrollbar-color: rgba($border-color, .75) rgba($black, .9);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: rgba($black, .9);
}

*::-webkit-scrollbar-thumb {
  background-color: $border-color;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: shade-color($border-color, 20%);
}

*::-webkit-scrollbar-thumb:active {
  background-color: shade-color($border-color, 40%);
}

html,
body {
  height: 100%;
  margin: 0;
  color: $white;
  // text-shadow: rgba($white, .75) 0 0 40px;
  text-shadow: 0 0 2.5em rgba($white, .5), 0 0 .8em rgba($white, .5);
  background-color: $black;
}
