$background: var(--background) !default;
$heading: var(--heading) !default;
$text: var(--text) !default;
$container-background: var(--container-background) !default;
$border-color: var(--border-color) !default;
